{% extends 'main.html' %}
{% load static %}

{% block content%}
    <h1>User Profile</h1>
    <section class="devlist">
        <div class="container">
          <div class="grid grid--three">

            {% for profile in profiles %}
            <div class="column card">
              <div class="dev">
                <!-- <a href="/profile/{{profile.id}}.html" class="card__body"> -->
                <a href="{% url 'user-profile' profile.id %}" class="card__body">
                  <div class="dev__profile">
                    <img class="avatar avatar--md" src="{{ profile.profile_image.url }}" alt="image" />
                    <div class="dev__meta">
                      <h3>{{ profile.name }}</h3>
                      <h5>{{ profile.short_intro }}</h5>
                    </div>
                  </div>
                  <p class="dev__info">
                    {{ profile.bio|slice:"300" }}
                  </p>
                  {% for skill in profile.skill_set.all|slice:"5" %}
                    <span class="tag tag--pill tag--main">
                        <small>{{ skill }}</small>
                    </span>
                  {% endfor %}
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>
{% endblock %}
